name: Build Android Release APK

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '17'

      # 依然保持 master，因为项目代码依赖较新
      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'master'

      - name: Install Dependencies
        run: |
          cd simple_live_app
          flutter pub get

      # --- 关键步骤：配置 Release 签名 ---
      - name: Configure Keystore
        run: |
          cd simple_live_app/android
          
          # 1. 解码 Base64 还原为 .jks 文件
          echo "${{ secrets.KEY_JKS }}" | base64 --decode > app/upload-keystore.jks
          
          # 2. 创建 key.properties 使用真实的密码
          echo "storePassword=${{ secrets.KEY_PASSWORD }}" > key.properties
          echo "keyPassword=${{ secrets.ALIAS_PASSWORD }}" >> key.properties
          echo "keyAlias=${{ secrets.KEY_ALIAS }}" >> key.properties
          echo "storeFile=../app/upload-keystore.jks" >> key.properties

      # --- 编译命令改为 release ---
      - name: Build APK
        run: |
          cd simple_live_app
          flutter build apk --release --split-per-abi

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: simple-live-release-apk
          path: simple_live_app/build/app/outputs/flutter-apk/*.apk
