name: Generate Keystore Helper

on:
  workflow_dispatch: # 手动触发

jobs:
  generate-key:
    runs-on: ubuntu-latest

    steps:
      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '17'

      - name: Generate Keystore and Base64
        run: |
          # 1. 使用命令行生成 .jks 文件
          # 密码统一设定为: 123456
          # 别名设定为: my-key-alias
          keytool -genkey -v -keystore release.jks -keyalg RSA -keysize 2048 -validity 10000 -alias my-key-alias -storepass 123456 -keypass 123456 -dname "CN=User, OU=Unit, O=Org, L=City, S=State, C=US"
          
          # 2. 将文件转换为 Base64 字符串并保存到文本文件
          base64 -w 0 release.jks > key_base64.txt

      - name: Upload Result
        uses: actions/upload-artifact@v4
        with:
          name: keystore-secret-string
          path: key_base64.txt
